<ion-pane>
    <div class="bar bar-header" style="background-color:#1E90FF;" ng-hide="IOS" ng-click="sideBarClickAndroid()">
	  <h1 class="title">Burger Express</h1>
    </div>
	
	
	<div class="bar bar-header" style="background-color:#1E90FF;" ng-hide="!IOS">
	  <h1 class="title">Burger Express</h1>
    </div>
    
	<ion-content>
	<div style="position:fixed;margin-top:20%;">
		<button class="button button-block button-calm"  style="height:3cm;width:90%;top:2cm;" ng-click="startCommand()">
			Commander
		</button>
		
		<button class="button button-block button-energized"  style="height:3cm;width:80%; top:2cm;" ng-click="showResto()">
			Nos Restaurants	
		</button>
			
		<button class="button button-block button-balanced"  style="height:3cm;width:90%; top:2cm;" ng-click="share()">
			Partager
		</button>
	</div>
	</ion-content>
</ion-pane>

<style type="text/css">
.pane{
background:url('http://www.masculin.com/images/article/12627/burger-pourrait-contenir-rat-ou-humain.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
</style>