<html ng-app="starter">
 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <link rel="manifest" href="manifest.json">
  <title>Suivi GPS</title>
  
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova-master/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
  
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAEHmUBcfWFToSl94UNVlem2z-SQPXjZdE&sensor=true"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  

</head>
 
<body ng-app="starter" >
    <div class="bar bar-header" style="padding-top: 3.3%" ng-controller="ctrNavBar">
        <div class="tabs-striped tabs-background-positive tabs-color-light tabs-icon-top">
            <div class="tabs">
                <div id="mapTab" class="tab-item active" ng-click="showMap()">
                    <span class="icon ion-map"></span>
                    Map
                    <!-- Tab 1 content -->
                </div>

                <div id="profilsTab" class="tab-item" ng-click="showProfils()">
                    <span class="icon ion-person-stalker"></span>
                    Profils
                    <!-- Tab 1 content -->
                </div>

                <div id="settingsTab" class="tab-item" ng-click="showConfig()">
                    <span class="icon ion-gear-a"></span>
                    Settings
                    <!-- Tab 2 content -->
                </div>
            </div>
        </div>
</div>

    <ion-nav-view class="has-header">
</ion-nav-view>
</body>
    


</html>