<ion-pane>
	<ion-header-bar class="bar bar-header" style="background-color:#1E90FF;">
		<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="quit()">Home</button>
		<h1 class="title" style="text-align:center;">Burger</h1>
		<button class="button icon-right ion-bag button-light button-clear" ng-click="goPanier()">Panier</button>
	</ion-header-bar>
	<ion-content class="has-header has-footer">
		<ion-list on-swipe-right="onSwipeRight()" on-swipe-left="goDessert()">
			<ion-checkbox ng-model="filter.red" ng-repeat="burger in burgers" type="item-text-wrap" ng-click="burgerSelected({{burger.id}})" style="background-color: rgba(255,255,255,.70)">

							<img ng-src="{{burger.face}}" style="height: 100px;
																width: 100px; 
																max-width: 100px;
																max-height: 100px;
																border-radius: 90px;
																float:left;">
							<h2 style="margin-left:10%;font-weight : bold;">{{burger.name}} </h2>
							<h3 style="margin-left:10%;">{{burger.lastText}}</h3>
							<h2 style="margin-left:10%;">{{burger.prix}}</h2>
								
			</ion-checkbox>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="bar-balanced" ng-click="goDessert()">
		<h1 class="title" style="text-align:center;">Valider</h1>
	</ion-footer-bar>
</ion-pane>

<style type="text/css">
.pane{
background:url('http://www.masculin.com/images/article/12627/burger-pourrait-contenir-rat-ou-humain.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
</style>