<ion-pane>
	<ion-header-bar class="bar bar-header" style="background-color:#1E90FF;">
		<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="back('cmdDessert')"></button>
		<h1 class="title" style="text-align:center;">Mode de livraison</h1>
		<button class="button icon-right ion-bag button-light button-clear">Panier</button>
	</ion-header-bar>
	<ion-content class="has-header" on-swipe-right="back('cmdDessert')" on-swipe-left="goPaiement()">
		<ion-list>
		  <ion-radio ng-model="filter.red" class="item-avatar item-icon-right" ng-repeat="md in modeslivraison" ng-model="livraisonSelected" type="item-text-wrap" value="{{md.name}}" ng-click="serverSideChange({{md.id}})" style="background-color: rgba(255,255,255,.50);">
			<h2>{{md.name}}</h2>
		  </ion-radio>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="bar-balanced" style="bottom:0px;" ng-click="goPaiement()">
		<h1 class="title" style="text-align:center;">Ok</h1>
	</ion-footer-bar>
</ion-pane>
